#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 40px solid rgb(53, 34, 9);
    border-left: 100vw solid transparent;
}

#footer-container{
    overflow: hidden;
    position: relative;
}

.container-fluid{
    background-color: rgb(53, 34, 9);
}

img{
    height: 50px;
    width: auto;
}