<div class="container text-center">
    <div class="card">
        <h1 class="card-title">Που θα μας βρειτε</h1>
        <app-map></app-map>
        <a class="card-text" 
        href="https://www.google.com/maps/place/%CE%93%CE%B5%CF%89%CF%81.+%CE%A0%CE%B1%CF%80%CE%B1%CE%BD%CE%B4%CF%81%CE%AD%CE%BF%CF%85+10,+%CE%96%CF%89%CE%B3%CF%81%CE%AC%CF%86%CE%BF%CF%85+157+72/@37.9794479,23.7619301,17z/data=!3m1!4b1!4m6!3m5!1s0x14a1bd5637b1c16b:0x84d09e3c990ba656!8m2!3d37.9794479!4d23.7619301!16s%2Fg%2F11p5zj7tpm?entry=ttu">
            Γεωργίου Παπανδρέου 10 Ζωγράφου
        </a>
    </div>
</div>
