nav{
    background-color: rgb(53, 34, 9);
    margin-bottom: 0px;
}

img{
    width:100px;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-top: 40px solid rgb(53, 34, 9);
    border-right: 100vw solid transparent;
}