.map-container {
    margin: 0px;
    height: 250px;
    text-align: center;
  }
  
.map-frame {
    border: 2px solid black;
    height: 100%;
    margin: auto;
}
  
#map {
    height: 100%;
}

.row{
    height: 250px;
}